{% extends 'base.html.twig' %}

{% block title %}Modifier un entretien{% endblock %}

{% block body %}
    <div class="bike-detail__back">
		<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
		<a class="auth-card__link font-medium" href="{{ path('app_bike_maintenance_index') }}">Historique des entretiens</a>
	</div>
    <h1 class="form__title">Modifier un entretien</h1>


    {{ include('bike_maintenance/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    
{% endblock %}
