<form method="post" action="{{ path('app_admin_document_legal_delete', {'id': document_legal.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce document ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document_legal.id) }}">
    <button class="btn-primary btn-primary--full " type="submit" aria-label="Supprimer définitivement le document">Supprimer</button>
</form>
