@use '../abstracts/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

//Authentification

h1{
    font-family: $font-primary;
    color: $color-dark;
    font-weight: 700;
    font-size: $text-xl;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

a,p{
    font-family: $font-primary;
    color:$color-gray-muted;
    font-size: $text-s;
    font-weight: 400;
    text-decoration: none;
}

small{
    font-family: $font-primary;
    font-size: $text-xxs;
    display: flex;
    text-align: center;
    margin-top: 12px;
}

label{
    font-family: $font-primary;
    font-size: $text-s;
    color: $color-gray-dark;
    font-weight: 600;
}

.agree-terms label{
    font-size: $text-xxs;
}

li{
    list-style-type: none;
    font-size: $text-s;
    
}
