{% extends 'base.html.twig' %}

{% block title %}Ajouter une moto
{% endblock %}

{% block body %}
	{# NAV BACK #}
	<div class="bike-detail__back">
		<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
		<a class="auth-card__link font-medium" href="{{ path('app_bike_index') }}">Retourner au garage</a>
	</div>

	{# TITLE #}
	<header>
		<h1 class="form__title">Ajouter une nouvelle moto</h1>
	</header>

    {# FORM #}
	{{ include('bike/_form.html.twig') }}

{% endblock %}
