@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.alert{
    padding: 12px 16px;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    font-size: 0.875rem;
    width: 100%;

    &-danger {
        color: $color-red-error;
        
    }

    &-success {
        @include login-sucess;
    }

    &-warning {
        background-color: #2d2000;
        color: #ffaa00;
        border-color: #ffaa00;
    }

    &-info {
        background-color: #002d2d;
        color: #00aaff;
        border-color: #00aaff;
    }
}
