<form method="post" action="{{ path('app_bike_document_delete', {'id': bike_document.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bike_document.id) }}">
    <button class="btn">Delete</button>
</form>
