{% extends 'base.html.twig' %}

{% block title %}New Bike{% endblock %}

{% block body %}
    {# NAV #}
	<nav class="bike-detail__back">
		<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
		<a class="auth-card__link font-medium" href="{{ path('app_admin_bike_index') }}">Voir la liste des motos</a>
	</nav>

    {# TITLE #}
	<header>
		<h1 class="form__title">Ajouter une nouvelle moto</h1>
	</header>

    {{ include('admin_bike/_form.html.twig') }}

{% endblock %}
