@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/breakpoints' as *;


.dashboard{

    &__title{
        display: flex;
        flex-direction: row;
    }

    &__message{
        display: flex;
        flex-direction: column;
        border-color: #fecaca;
        border-style: solid;
        border-width: 2px;
        border-radius: 0.75rem;
        padding: 2rem;
        margin-bottom: 24px;
        background: linear-gradient(154deg,rgba(255, 237, 232, 1) 0%, rgba(255, 255, 219, 1) 100%);    background-color: #fef2f2;
    }

    

    
}

.main-content {
    padding: 56px 16px 16px 16px; // mobile

    @media (min-width: $medium) {
        padding: 56px 32px; // tablette
    }

    @media (min-width: $large) {
        padding: 32px; // desktop
    }
}
