@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/breakpoints' as *;
// ================================
// Formulaire - Ajout d'une moto
// ================================

.form{

    &__title{
        padding: 16px 0px;

    }

    label{
        display: flex;
        text-align:start;
    }
}

.form-field{

    &__textarea{
        @include auth-input;
        height: 20vh;
    }

    &__dropdown{
        @include auth-input;
    }
}


// ====================================
// Formulaire - Modification d'une moto
// ====================================

.bike-update{


    &__wrap{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap:1rem;

        
    }

    &__actions{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

    @media (min-width:$large){
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
    }
}