@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.legal-content{
    padding: 1rem;
}


.form-field--inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}