<form method="post" action="{{ path('app_admin_bike_maintenance_delete', {'id': bike_maintenance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bike_maintenance.id) }}">
    <button  class="btn-primary btn-primary--full " type="submit" aria-label="Supprimer définitivement ma moto">Supprimer</button>
</form>
