<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Trackday - L'application des pilotes
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Application mobile concu pour optimiser les performances des pilotes sur circuit et pour les accompagner tout au long de leurs journées de roulages">

		<link rel="icon" href="{{asset('icons/favicon/favicon.png')}}"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		<div class="d-lg-flex min-vh-100">
			{% block sidebar %}
				{% if app.user %}
					{{ include('components/_sidebar.html.twig') }}
				{% endif %}
			{% endblock %}
			<main class="flex-grow-1  main-content" style="{% if app.user %}margin-left: 0;{% endif %}"> {% block body %}{% endblock %}
			</main>
			</div>
		</body>
	</html>
