{% extends 'base.html.twig' %}

{% block title %}Bonjour
	{{app.user.lastname}}!
{% endblock %}

{% block body %}


	<div class="dashboard">
		<div class="dashboard">

			<div class="dashboard__title">
				<img class="dashboard__flag" src="{{asset('icons/sidebar/flag.svg')}}" alt="flag">
				<h1>Tableau de bord</h1>
			</div>
			<p>Suivez vos performances</p>

		</div>
		{# {% for message in app.flashes('welcome') %} #}
		<div
			class="dashboard__message">
			{# <h2>{{ message }}
														! 🏁</h2> #}
			<h2>Bienvenue sur Trackday, byuix.pro@gmail.com !
			</h2>
			<p>Votre application est prête! Suivez vos journées de roulages, gérez votre moto, analysez vos temps et progressez à chaque sortie.</p>


		</div>
		{# {% endfor %} #}


	</div>


{% endblock %}
