<form method="post" action="{{ path('app_account_delete') }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ user.id) }}">
    <button type="submit" class="btn">Supprimer</button>
</form>
