<form method="post" action="{{ path('app_account_delete') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">
    <button class="btn">Supprimer mon compte</button>
</form>
